:root{
    --black: #181E27;
    --white: #EDF7F6;
    --dark-grey: #343d46;
    --skin: #DFD2B8;
    --skin-light: #ebe4d4;
    --light-blue: #35A7FF;
    --orange: #F3752B;
    --brown: #4F3824;
    --red: #FF0000;
    --light-grey: #343d46;
}
body{
    font-family: 'Kaushan Script', cursive;
    color: var(--skin-light);
    background: url(/photos/pexels-igor-starkov-1055058.jpg)center/cover fixed no-repeat;
}

/* icons */
.primary-color{
    color: var(--orange)
}
.secondary-color{
    color: var(--red)
}
.info{
    background: var(--skin-light);
}

.info h2{
    word-spacing: 0.6rem;
}
.info a{
    transition: color 0.7s ease-in-out;
}
.info a:hover{
    color:var(--black);
}

/* icons end */
/* header */

#header{
    min-height: calc(100vh - 94px);
    background: linear-gradient(rgba(0,0,0,0.5),rgba(0,0,0,0.5)),url(/photos/pexels-chan-walrus-958545.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.height-90{
    min-height: calc(100vh - 94px);
}

.banner h1{
    border-top: 6px dotted var(--skin-light);
    border-bottom: 6px dotted var(--skin-light);
    animation: bannerh1;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}
@keyframes bannerh1 {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    50%{
        transform: translateX(20px);  
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
} /* animatin for when banner goes from left to right */
@keyframes fromRight {
    0%{
        transform: translateX(100px);
        opacity: 0;
    }
    50%{
        transform: translateX(-20px);  
    }
    100%{
        transform: translateX(0px);
        opacity: 1;
    }
}

.main-btn{
    color: var(--orange);
    font-size: 2rem;
    border: 2px solid var(--skin-light);
    transition: all 1s ease-in-out;
}
.xashlama-btn{
    animation: fromRight;
    animation-duration: 4s;
    opacity: 0;
    animation-fill-mode: forwards;
}
.main-btn:hover{
    color: var(--red);
    border: 2px solid var(--skin-light);
    background-color: var(--skin-light);
}
.header-link{
    display: inline-block;
    position: absolute;
    bottom: 5%;
    left: 50%;
    background: var(--orange);
    color: var(--black);
    border-radius: 10px;
    transition: all 2s ease;
    animation: bouncing 4s infinite;
}
@keyframes bouncing {
    0%{
        transform: translateY(-10px);
    }
    50%{
        transform: translateY(10px);
    }
    100%{
        transform: translateY(-10px);
    }
}
/* header/banner end */
/* menu items */
.item-container{
    position:relative;/* for link */
    overflow: hidden;
    background: linear-gradient(rgb(0,0,0),rgb(0,0,0));
    transition: all 2s ease;
}
.item-container:hover{
    outline: 8px solid var(--orange);
    outline-offset: 0.5rem;
}
.item-img{
    transition: all 2s ease;
}
.item-container:hover .item-img{
    transform: scale(1.2);
    opacity: 0.5;
}
.item-link{
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%,-50%);
    color: var(--white);
    font-size: 2rem;
    border-top: 3px solid var(--white);
    border-bottom: 3px solid var(--white);
    transition: 2s ease all;
    opacity: 0;
}
.item-container:hover .item-link{
    opacity: 1;
}
.item-link:hover{
    color: var(--skin);
    border: 3px solid var(--skin);
    background: var(--skin);
    color:var(--red)
}
/* menu items end */
/* menu */
#menu{
    background:linear-gradient(rgba(255,255,255,0.7),rgba(255,255,255,0.7)), url(/photos/pexels-chan-walrus-958545.jpg)center/cover fixed no-repeat;
}
.special{
    border: 4px solid var(--red);
    position: relative;
}
.special-text{
    position: absolute;
    top:0;
    right:4%;
    background: var(--red);
    padding: 0 0.4rem;
}
/* menu end */